<html>
    <head>
        <title>Zaczynamy zabawe</title>
    </head>
    <body>
        <div>
            <h1><a href="">Stolarka dla poczatkujacych</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Jak zaczac</a></h2>
            <p><b>Tu dowiesz sie jak rozpoczac przygode ze stolarka</b></p>
            <br>
            <p>Ludzie spędzający czas w biurach tęsknią za konkretnymi efektami swojej pracy. Dlatego coraz częściej szukają warsztatów, na których mogą nauczyć się obróbki drewna i renowacji mebli.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Gdzie znalezc warsztaty</a></h2>
            <p><b>Spis stron z warsztatami.</b></p>
            <ul>
            <li><a href="http://majsterki.pl">Majsterki</a><p>Majsterki - DIY w wielkim mieście, czyli Zrób to sam z babskim wydaniu! Meble, renowacja, recycling, design, wnętrza, aranżacje, porady</p></li>
            <li><a href="https://wioryleca.wordpress.com">Wiory leca</a><p>Ekipa 'Wióry lecą' dłubie w drewnie i z sukcesem dzieli się tą frajdą z innymi. Szczególnie ciepło myśli o kobietach, ale do majsterkowania i realizowania własnych pomysłów na meble, dodatki i prezenty zachęca również mężczyzn. Zaprasza na warsztaty, kursy i imprezy stolarskie oraz zajęcia z tapicerki i renowacji mebli.</p></li>
            <li><a href="https://www.fablabt.org/">Fab Lab Trojmiasto</a><p>Tworzymy kreatywną społeczność, która daje ludziom dostęp do miejsca i narzędzi potrzebnych do prototypowania nowych technologii i zbudowania (prawie) wszystkiego. W Fab Labie poznasz niesamowitych ludzi i rozwiniesz umiejętności niezbędne w XXI wieku. Przestań o tym myśleć. Zrób to!</p></li>
            </ul>
        </div>
    </body>
</html>